<!-- Collaborators Section -->
<section id="collaborators">
	<div class="container">
   	
   	<div class="row">
      	<div class="col-lg-12 text-center">
         	<h2 class="section-heading"> Supporting Collaboration </h2>
          	<h3 class="text-muted2"> HarvestAPI was made possible by a collaboration between </h3>
       	</div>
    	</div>
    	
    	<div class="row">
      	<div class="text-center">
      		<div class="col-md-3 col-sm-6">
      			<img src="./img/platform/rada2.png" alt="">
      		</div>
      		<div class="col-md-3 col-sm-6">
      			<img src="./img/platform/c4c_logo.png" alt="">
      		</div>
      		<div class="col-md-3 col-sm-6">
      			<img src="./img/platform/Final_Logos-Long_Form_Logo.png" alt="">
      		</div>
      		<div class="col-md-3 col-sm-6">
      			<img src="./img/platform/MSBMLogo_Final_long.png" alt="">
      		</div>
      	</div>
      </div>
      <br/>
      <div class="row">
      	<div class="text-center">
      		<div class="col-md-6 col-sm-6">
      			<img src="./img/platform/COI-logo.png" alt="">
      		</div>
      		<div class="col-md-6 col-sm-6">
      			<img src="./img/platform/idrc.png" alt="">
      		</div>      		
      	</div>
      </div>
      
      <p class="text-muted3"> Built and designed with love by: </p> <br><br>
      
      <div class="row">
			<div class="text-center">
				<div class="col-md-2 col-sm-6">
					<ul class="list-contributors">
      				<li> <img src="./img/platform/rory.jpg" alt=""> </li>
      				<li id="names-main"> Rory Walker </li>
      				<li id="names"> @redrory </li>
      			</ul>
      		</div>
      		
      		<div class="col-md-2 col-sm-6">
					<ul class="list-contributors">
						<li> <img src="./img/platform/staysean.jpg" alt=""> </li>
						<li id="names-main1"> Staysean Daley </li>
						<li id="names1"> @kraasimages </li>
					<ul>				
				</div>
				
				<div class="col-md-2 col-sm-6">
					<ul class="list-contributors">
						<li> <img src="./img/platform/varun.jpg" alt=""> </li>
						<li id="names-main"> Varun Baker </li>
						<li id="names4"> @varunbaker </li>
					<ul>				
				</div>
				
				<div class="col-md-2 col-sm-6">
					<ul class="list-contributors">
						<li> <img src="./img/platform/david.jpg" alt=""> </li>
						<li id="names-main2"> David Soutar </li>
						<li id="names2"> @davidsoutar </li>
					<ul>				
				</div>
				
				<div class="col-md-2 col-sm-6">
					<ul class="list-contributors">
						<li> <img src="./img/platform/afifa.jpg" alt=""> </li>
						<li id="names-main"> Afifa Harris </li>
						<li id="names3"> @djafifa </li>
					<ul>				
				</div>
				
      	</div>
		</div>
	</div>
</section>